<div class="container-fluid py-5 bg-dark hero-header mb-5">
  <div class="container my-5 py-5">
    <div class="row align-items-center g-5">
      <div class="col-lg-6 text-center text-lg-end overflow-hidden">
        <img
          class="img-fluid rounded-circle"
          src="assets/img/main.jpg"
          alt=""
        />
      </div>
      <div class="col-lg-6 text-center text-lg-start">
        <h1
          class="title display-3 fw-bold text-white animate__animated animate__slideInRight"
        >
          Enjoy Our<br />Delicious Meal
        </h1>
        <p
          class="fs-5 text-white animate__animated animate__fadeInUp mb-4 pb-2"
        >
          Indulge in a culinary journey like no other at our charming
          restaurant. We invite you to savor the finest flavors, immerse
          yourself in a cozy ambiance, and experience the true essence of
          dining.
        </p>
      </div>
    </div>
  </div>
</div>
