<!--<div class="container">-->
<!--  <h2>Cart</h2>-->
<!--  <div *ngFor="let dish of orderedFoods">-->
<!--    <div class="d-flex">-->
<!--      <div class="p-2 w-100">-->
<!--        <img src="{{ dish.image }}" style="width: 100px; height: 100px; object-fit: cover"/> {{ dish.name }}-->
<!--      </div>-->
<!--      <div class="p-2 flex-shrink-1">-->
<!--        <p>-->
<!--          <span class="spnn">€{{ dish.price }}</span>-->
<!--        </p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="d-flex justify-content-end">-->
<!--    <div class="st">-->
<!--      <p> Sum: <span class="spnn">€{{ total }}</span></p>-->
<!--&lt;!&ndash;      <p>&ndash;&gt;-->
<!--&lt;!&ndash;        10% for Service: <span class="spnn">€{{ look }}</span>&ndash;&gt;-->
<!--&lt;!&ndash;      </p>&ndash;&gt;-->
<!--&lt;!&ndash;      <p>&ndash;&gt;-->
<!--&lt;!&ndash;        Total: <span class="spnn">€{{ bth }}</span>&ndash;&gt;-->
<!--&lt;!&ndash;      </p>&ndash;&gt;-->
<!--&lt;!&ndash;      <ng-template [ngIf]="free > 0">&ndash;&gt;-->
<!--&lt;!&ndash;        <p>&ndash;&gt;-->
<!--&lt;!&ndash;          You have a discount: <span class="spnn">- €{{ free }}</span>&ndash;&gt;-->
<!--&lt;!&ndash;        </p>&ndash;&gt;-->
<!--&lt;!&ndash;        <p>&ndash;&gt;-->
<!--&lt;!&ndash;          Final price: <span class="spnn">€{{ one }}</span>&ndash;&gt;-->
<!--&lt;!&ndash;        </p>&ndash;&gt;-->
<!--&lt;!&ndash;      </ng-template>&ndash;&gt;-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<div class="row px-md-4 px-2 pt-4">
  <div class="col-lg-8">
    <p class="pb-2 fw-bold">Order</p>
    <div class="card" *ngFor="let dish of orderedFoods">
        <div class="table-responsive px-md-4 px-2 pt-3">
          <table class="table table-borderless">
            <tbody>
            <tr class="border-bottom">
                <div class="d-flex align-items-center">
                  <div><img class="pic"
                            src="{{ dish.image }}"
                            alt="{{ dish.name }}"></div>
                  <div class="ps-3 d-flex justify-content-between w-75">
                    <p class="fw-bold">{{ dish.name }}</p>
                    <p class="pe-3"><span class="text-danger fw-bold">${{ dish.price }}</span></p>
                  </div>
                </div>
            </tr>
            </tbody>
          </table>
        </div>

    </div>
  </div>
  <div class="col-lg-4 payment-summary">
    <p class="fw-bold pt-lg-0 pt-4 pb-2">Payment Summary</p>
    <div class="card px-md-3 px-2 pt-4">
      <div class="d-flex justify-content-between pb-3"><small class="text-muted">Products</small>
        <p class="">${{ total }}</p>
      </div>
      <div class="d-flex flex-column">
        <div class="d-flex justify-content-between py-3"><small class="text-muted">10% for service</small>
          <p>${{ look }}</p>
        </div>
        <div class="d-flex justify-content-between pb-3 "><small class="text-muted">Total</small>
          <p>${{ bth }}</p>
        </div>
        <ng-template [ngIf]="free > 0">
          <div class="d-flex justify-content-between pb-3 b-bottom"><small class="text-muted">You have a discount:</small>
            <p>${{ free }}</p>
          </div>
          <div class="d-flex justify-content-between my-3"><small class="fw-bold fs-5">Total Amount (including VAT)</small>
            <p>${{ one }}</p>
          </div>
        </ng-template>

      </div>
    </div>
  </div>
</div>
